<h1>Listado de Clientes</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Email</th>
    <th>Direccion</th>
    <th>Imagen</th>
    <th>Telefono</th>
    <th>Celular</th>
    <th>Notas</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clientes.each do |cliente| %>
  <tr>
    <td><%= cliente.Nombre %></td>
    <td><%= cliente.Email %></td>
    <td><%= cliente.Direccion %></td>
    <td><%= cliente.Imagen %></td>
    <td><%= cliente.Telefono %></td>
    <td><%= cliente.Celular %></td>
    <td><%= cliente.Notas %></td>
    <td><%= link_to 'Visualizar', cliente %></td>
    <td><%= link_to 'Editar', edit_cliente_path(cliente) %></td>
    <td><%= link_to 'Eliminar', cliente, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cliente', new_cliente_path %>
