<p id="notice"><%= notice %></p>

<p>
  <b>Dueno:</b>
  <%= @paciente.Dueno %>
</p>

<p>
  <b>Especie:</b>
  <%= @paciente.Especie %>
</p>

<p>
  <b>Raza:</b>
  <%= @paciente.Raza %>
</p>

<p>
  <b>Genero:</b>
  <%= @paciente.Genero %>
</p>

<p>
  <b>Tiposangre:</b>
  <%= @paciente.TipoSangre %>
</p>

<p>
  <b>Esterilizado:</b>
  <%= @paciente.Esterilizado %>
</p>

<p>
  <b>Tamano:</b>
  <%= @paciente.Tamano %>
</p>

<p>
  <b>Actividad:</b>
  <%= @paciente.Actividad %>
</p>

<p>
  <b>Pesokg:</b>
  <%= @paciente.Pesokg %>
</p>

<p>
  <b>Fechanacimiento:</b>
  <%= @paciente.FechaNacimiento %>
</p>

<p>
  <b>Notasmedicas:</b>
  <%= @paciente.NotasMedicas %>
</p>

<p>
  <b>Imagenesmedicas:</b>
  <%= @paciente.ImagenesMedicas %>
</p>

<p>
  <b>Condicionesespeciales:</b>
  <%= @paciente.CondicionesEspeciales %>
</p>


<%= link_to 'Edit', edit_paciente_path(@paciente) %> |
<%= link_to 'Back', pacientes_path %>
