<h1>Listar Prospectos</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Email</th>
    <th>Direccion</th>
    <th>Imagen</th>
    <th>Telefono</th>
    <th>Celular</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @prospectos.each do |prospecto| %>
  <tr>
    <td><%= prospecto.Nombre %></td>
    <td><%= prospecto.Email %></td>
    <td><%= prospecto.Direccion %></td>
    <td><%= prospecto.Imagen %></td>
    <td><%= prospecto.Telefono %></td>
    <td><%= prospecto.Celular %></td>
    <td><%= link_to 'Visualizar', prospecto %></td>
    <td><%= link_to 'Editar', edit_prospecto_path(prospecto) %></td>
    <td><%= link_to 'Eliminar', prospecto, confirm: 'Estas tu seguro?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Prospecto', new_prospecto_path %>
