<%= form_for(@doctor) do |f| %>
  <% if @doctor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@doctor.errors.count, "error") %> prohibited this doctor from being saved:</h2>

      <ul>
      <% @doctor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :NombreApellido %><br />
    <%= f.text_field :NombreApellido %>
  </div>
  <div class="field">
    <%= f.label :Email %><br />
    <%= f.text_field :Email %>
  </div>
  <div class="field">
    <%= f.label :Telefono %><br />
    <%= f.text_field :Telefono %>
  </div>
  <div class="field">
    <%= f.label :UsuarioSistema %><br />
    <%= f.text_field :UsuarioSistema %>
  </div>
  <div class="field">
    <%= f.label :Administrador %><br />
    <%= f.text_field :Administrador %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
