<h1>Listing doctors</h1>

<table>
  <tr>
    <th>Nombreapellido</th>
    <th>Email</th>
    <th>Telefono</th>
    <th>Usuariosistema</th>
    <th>Administrador</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @doctors.each do |doctor| %>
  <tr>
    <td><%= doctor.NombreApellido %></td>
    <td><%= doctor.Email %></td>
    <td><%= doctor.Telefono %></td>
    <td><%= doctor.UsuarioSistema %></td>
    <td><%= doctor.Administrador %></td>
    <td><%= link_to 'Show', doctor %></td>
    <td><%= link_to 'Edit', edit_doctor_path(doctor) %></td>
    <td><%= link_to 'Destroy', doctor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Doctor', new_doctor_path %>
