<h1>Listando Doctores</h1>

<table>
  <tr>
    <th>Nombre y Apellido</th>
    <th>Administrador</th>
    <th>Email</th>
    <th>Telefono</th>
    <th>Usuario del Sistema</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @doctors.each do |doctor| %>
  <tr>
    <td><%= doctor.NombreApellido %></td>
    <td><%= doctor.Administrador %></td>
    <td><%= doctor.Email %></td>
    <td><%= doctor.Telefono %></td>
    <td><%= doctor.UsuarioSistema %></td>
    <td><%= link_to 'Visualizar', doctor %></td>
    <td><%= link_to 'Editar', edit_doctor_path(doctor) %></td>
    <td><%= link_to 'Eliminar', doctor, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Doctor', new_doctor_path %>
