<p id="notice"><%= notice %></p>

<p>
  <b>Nombreapellido:</b>
  <%= @doctor.NombreApellido %>
</p>

<p>
  <b>Email:</b>
  <%= @doctor.Email %>
</p>

<p>
  <b>Telefono:</b>
  <%= @doctor.Telefono %>
</p>

<p>
  <b>Usuariosistema:</b>
  <%= @doctor.UsuarioSistema %>
</p>

<p>
  <b>Administrador:</b>
  <%= @doctor.Administrador %>
</p>


<%= link_to 'Editar', edit_doctor_path(@doctor) %> |
<%= link_to 'Retroceder', doctors_path %>
