<%= form_for(@producto) do |f| %>
  <% if @producto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@producto.errors.count, "error") %> prohibited this producto from being saved:</h2>

      <ul>
      <% @producto.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Codigo %><br />
    <%= f.text_field :Codigo %>
  </div>
  <div class="field">
    <%= f.label :Detalle %><br />
    <%= f.text_field :Detalle %>
  </div>
  <div class="field">
    <%= f.label :Precio %><br />
    <%= f.text_field :Precio %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
