<p id="notice"><%= notice %></p>

<p>
  <b>Codigo:</b>
  <%= @producto.Codigo %>
</p>

<p>
  <b>Detalle:</b>
  <%= @producto.Detalle %>
</p>

<p>
  <b>Precio:</b>
  <%= @producto.Precio %>
</p>


<%= link_to 'Edit', edit_producto_path(@producto) %> |
<%= link_to 'Back', productos_path %>
