<p id="notice"><%= notice %></p>

<p>
  <b>Nombrevacuna:</b>
  <%= @citum.NombreVacuna %>
</p>

<p>
  <b>Paciente:</b>
  <%= @citum.Paciente %>
</p>

<p>
  <b>Dueno:</b>
  <%= @citum.Dueno %>
</p>

<p>
  <b>Telefono:</b>
  <%= @citum.Telefono %>
</p>

<p>
  <b>Direccion:</b>
  <%= @citum.Direccion %>
</p>

<p>
  <b>Fecharegistro:</b>
  <%= @citum.FechaRegistro %>
</p>


<%= link_to 'Edit', edit_citum_path(@citum) %> |
<%= link_to 'Back', cita_path %>
